<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body th:fragment="footer">
<div class="footer-top-area">
  <div class="zigzag-bottom"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="footer-about-us">
          <h2>u<span>Stora</span></h2>
          <p></p>
          <div class="footer-social">
            <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h2 class="footer-wid-title">Người dùng </h2>
          <ul>
            <li><a href="">Tài khoản</a></li>
            <li><a href="">Lịch sử đơn hàng</a></li>
            <li><a href="">Danh sách yêu thích</a></li>
            <li><a href="">Liên hệ</a></li>
            <li><a href="">Góp ý, khiếu nại</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-menu">
          <h2 class="footer-wid-title">Thể loại</h2>
          <ul>
            <li><a href="">Điện thoại</a></li>
            <li><a href="">Máy tính</a></li>
            <li><a href="">LED TV</a></li>
            <li><a href="">Linh kiện</a></li>
            <li><a href="">Trang chủ</a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-3 col-sm-6">
        <div class="footer-newsletter">
          <h2 class="footer-wid-title">Tin tức</h2>
          <p>Đăng ký nhận tin tức của chúng tôi và nhận các ưu đãi độc quyền</p>
          <div class="newsletter-form">
            <input type="email" placeholder="Nhập email">
            <input type="submit" value="Theo dõi">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="copyright">
          <p>&copy; 2022 uCommerce_QuangThinh. Đã đăng ký bản quyền. <a href="http://www.stanford.com.vn" target="_blank">stanford.com.vn</a></p>
        </div>
      </div>

      <div class="col-md-4">
        <div class="footer-card-icon">
          <i class="fa fa-cc-discover"></i>
          <i class="fa fa-cc-mastercard"></i>
          <i class="fa fa-cc-paypal"></i>
          <i class="fa fa-cc-visa"></i>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>