<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{client/layout}">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng - Checkout</title>
</head>
<body layout:fragment="content">
<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Thanh toán</h2>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End Page title area -->


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Tìm kiếm sản phẩm</h2>
                    <form action="#" th:action="@{/trang-chu/timkiem}" th:object="${sanPhamSearch}" method="post">
                        <input type="text" placeholder="Tìm kiếm.." id="tuKhoa" name="tuKhoa">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="woocommerce">

                        <form action="#" method="post" th:action="@{/gio-hang/thucHienCheckout}" th:object="${donHang}" class="checkout">

                            <div id="customer_details" class="col2-set">
                                <div class="col-3">
                                    <div class="woocommerce-billing-fields">
                                        <h3>Thông tin hóa đơn</h3>

                                        <p id="billing_first_name_field" class="form-row form-row-first validate-required">
                                            <label class="" for="billing_first_name">Số Điện Thoại <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" th:field="*{dienThoai}" id="billing_first_name" name="billing_first_name" class="input-text ">
                                        </p>

                                        <div class="clear"></div>

                                        <p id="billing_address_1_field" class="form-row form-row-wide address-field validate-required">
                                            <label class="" for="billing_address_1">Địa Chỉ <abbr title="required" class="required">*</abbr>
                                            </label>
                                            <input type="text" th:field="*{diaChi}" id="billing_address_1" name="billing_address_1" class="input-text ">
                                        </p>

                                        <p id="billing_city_field" class="form-row form-row-wide address-field validate-required" data-o_class="form-row form-row-wide address-field validate-required">
                                            <label class="" for="billing_city">Ghi chú:</label>
                                            <textarea name="billing_city" id="billing_city" class="input-text" cols="30" rows="10" th:field="*{ghiChu}"></textarea>
                                        </p>

                                        <div class="clear"></div>

                                    </div>
                                </div>

                            </div>

                            <h3 id="order_review_heading">Đơn hàng của bạn</h3>

                            <div id="order_review" style="position: relative;">
                                <table class="shop_table">
                                    <thead>
                                    <tr>
                                        <th class="product-name">Sản phẩm</th>
                                        <th class="product-total">Tổng</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <th:block th:each="sp : ${gioHang}">
                                            <tr class="cart_item">
                                                <td class="product-name">
                                                    [[${sp.tenSanPham}]] <strong class="product-quantity"> x[[${sp.soLuong}]]</strong> </td>
                                                <td class="product-total">
                                                    <span class="amount" th:text="${#numbers.formatDecimal(sp.giaBan*sp.soLuong, 0, 'COMMA', 0, 'POINT')}">£15.00</span> </td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                    <tfoot>

                                    <tr class="shipping">
                                        <th>Phí giao hàng</th>
                                        <td>

                                            Miễn phí
                                            <input type="hidden" class="shipping_method" value="free_shipping" id="shipping_method_0" data-index="0" name="shipping_method[0]">
                                        </td>
                                    </tr>


                                    <tr class="order-total">
                                        <th>Tổng đơn hàng</th>
                                        <td><strong><span class="amount" th:text="${#numbers.formatDecimal(tongTien, 0, 'COMMA', 0, 'POINT')}">£15.00</span></strong> </td>
                                    </tr>

                                    </tfoot>
                                </table>


                                <div id="payment">


                                    <div class="form-row place-order">

                                        <input type="submit" data-value="Place order" value="Đặt hàng" id="place_order" name="woocommerce_checkout_place_order" class="button alt">


                                    </div>

                                    <div class="clear"></div>

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>