<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout}">
<head>
    <meta charset="UTF-8">
    <title>Quản lý thông tin ảnh sản phẩm</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.validate.js}"></script>

    <script type="text/javascript">
        // $(document).ready(function () {
        //     layDanhSachAnhSanPham();
        // });

        function layDanhSachAnhSanPham() {
            $.ajax({
                type: "GET",
                url: "/api/anhsp/all",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                async: true,
                success: function (result) {

                    var thongTin = "";
                    $.each(result, function (index, anhSanPham) {
                        thongTin += "<tr>";
                        thongTin += "<td>" + anhSanPham.id + "</td>";
                        thongTin += "<td>" + "<img src='/images/" + anhSanPham.tenAnh + "' height='150' width='170'>" + "</td>";
                        thongTin += "<td>" + anhSanPham.maSanPham + "</td>";

                        var sua = "suaThongTin('" + anhSanPham.id + "')";
                        var xoa = "xoaThongTin('" + anhSanPham.id + "')";
                        thongTin += "<td><a data-toggle=\"modal\" data-target=\"#modalAnhSanPham\" href='#' onclick=\"" + sua + "\" title='Sửa ảnh sản phẩm'><i class='fas fa-edit'></i></a>&nbsp;";
                        thongTin += "<a href='#' data-toggle=\"modal\" data-target=\"#modalXoa\" title='Xóa ảnh sản phẩm' onclick=\"" + xoa + "\"><i class='fas fa-trash-alt'></i></a></td>";
                        thongTin += "</tr>";
                    });

                    $("#dsAnhSanPham").append(thongTin);
                }
            });
        }

        function hienThiThemMoi()
        {
            $("#modalTitle").text("Thêm mới thông tin ảnh sản phẩm");
            $("#hAnhSanPhamId").val("");
            $("#tenAnh").val("");
            $("#maSanPham").val("");
            $("#tenAnh").focus();
        }
        function themMoiHoacCapNhat() {
            //alert("Hello");
            let form = $("#modalAnhSanPham").validate({
                rules: {
                    tenAnh: "required",
                    maSanPham: "required",
                },
                messages: {
                    tenAnh: "Bạn cần phải chọn ảnh sản phẩm",
                    maSanPham: "Bạn cần phải chọn sản phẩm",
                },
                submitHandler: function () {
                    if(form.valid()) {
                        xuLyThemMoi();
                    }
                }

            });
        }

        function xuLyThemMoi() {
            //Lấy thông tin trên giao diện
            var anhSanPhamId = $("#hAnhSanPhamId").val();
            anhSanPhamId = parseInt(anhSanPhamId);

            var urlPost = '/api/anhsp/add';
            var methodType = "POST";
            //TH sửa
            if (anhSanPhamId > 0) {
                urlPost = '/api/anhsp/' + anhSanPhamId;
                methodType = "PUT";
            }

            var tenAnh = $("#tenAnh").val().replace(/C:\\fakepath\\/i, '');
            var maSP = $("#maSanPham").val();

            //Khai báo mảng
            var formData = {}
            formData["tenAnh"] = tenAnh;
            formData["maSanPham"] = maSP;

            console.log("Tên ảnh sản phẩm: " + tenAnh);

            var imgFormData = new FormData();
            imgFormData.append('fUpload', $('input[type=file]')[0].files[0]);

            $.ajax({
                url: '/api/anhsp/upload',
                data: imgFormData,
                type: 'POST',
                contentType: false,
                processData: false
            });

            $.ajax({
                url: urlPost,
                contentType: "application/json; charset=utf-8;",
                dataType: "json",
                data: JSON.stringify(formData),
                type: methodType,
                success: function (data) {
                    //alert("Hello");
                    if (data.id != null) {

                        $("#modalAnhSanPham").modal("hide")

                        //Reload lại trang
                        window.location.reload();
                    } else {
                        $('#tile-body').nextAll(".spanError").remove();
                        $('#tile-body').after('<div class="alert alert-dismissible alert-danger spanError">' + data.name + '</div>')

                    }

                },
                error: function (error) {
                    alert("Có lỗi xảy ra " + error.name);
                }

            });
        }

        function suaThongTin(anhSanPhamId) {
            //Lấy thông tin chi tiết của người dùng cần sửa
            thongTinChiTiet(anhSanPhamId);
        }

        function thongTinChiTiet(anhSanPhamId) {
            $.ajax({
                type: "GET",
                url: "/api/anhsp/" + anhSanPhamId,
                data: {
                    id: anhSanPhamId
                },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                async: true,
                success: function (data) {
                    //alert(data.hoTen);
                    //Hiển thị lên giao diện
                    $("#modalTitle").text("Sửa thông tin ảnh sản phẩm");
                    $("#hAnhSanPhamId").val(data.id);
                    $("#tenAnh").val(data.tenAnh);
                    $("#maSanPham").val(data.maSanPham);
                }
            });
        }

        function xoaThongTin(anhSanPhamId) {

            $("#hAnhSanPhamId").val(anhSanPhamId);
        };

        function thucHienXoa() {
            var anhSanPhamId = $("#hAnhSanPhamId").val();
            anhSanPhamId = parseInt(anhSanPhamId);

            $.ajax({
                url: '/api/anhsp/' + anhSanPhamId,
                contentType: "application/json; charset=utf-8;",
                dataType: "json",
                type: "DELETE",
                success: function (data) {
                    //alert("Hello");
                    if (data.name != null) {

                        $("#modalXoa").modal("hide")

                        //Reload lại trang
                        window.location.reload();
                    } else {
                        $('#title-delete').nextAll(".spanError").remove();
                        $('#title-delete').after('<div class="alert alert-dismissible alert-danger spanError">' + data.name + '</div>')

                    }

                },
                error: function (error) {
                    alert("Có lỗi xảy ra " + error.name);
                }
            });
        }
    </script>
</head>
<body layout:fragment="content">
<div class="page-breadcrumb bg-white">
    <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Quản Lý Ảnh Sản Phẩm</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <div class="d-md-flex">
                <a href="#" onclick="hienThiThemMoi()" data-toggle="modal"
                   data-target="#modalAnhSanPham"
                   class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Thêm mới</a>
            </div>
        </div>
    </div>
    <div style="margin-top: 1em">
        <form action="#" th:action="@{/call-api/anhsp/timkiem}" th:object="${anhSanPhamSearch}" method="post">
            <div class="input-group">

                <input placeholder="Tìm kiếm" type="search" id="form1" class="form-control" th:field="*{tuKhoa}"/>

                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Quản Lý Ảnh Sản Phẩm</h3>
                <div class="table-responsive">
                    <table class="table text-nowrap">
                        <thead>
                        <tr>
                            <th class="border-top-0">ID</th>
                            <th class="border-top-0">Ảnh</th>
                            <th class="border-top-0">Mã Sản Phẩm</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="a : ${lstAnhSanPham}">
                                <td>[[${a.id}]]</td>
                                <td><img th:src="@{'/images/' + ${a.tenAnh}}" height='150' width='170'></td>
                                <td>[[${a.maSanPham}]]</td>
                                <td>
                                    <a data-toggle="modal" data-target="#modalAnhSanPham" href='#' th:attr="onclick=|suaThongTin(${a.id})|" title='Sửa ảnh sản phẩm'><i class='fas fa-edit'></i></a>
                                    &nbsp;
                                    <a href='#' data-toggle="modal" data-target="#modalXoa" title='Xóa ảnh sản phẩm' th:attr="onclick=|xoaThongTin(${a.id})|"><i class='fas fa-trash-alt'></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>

<form id="modalAnhSanPham" method="post" class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">
                    Thêm mới ảnh sản phẩm</h5>
                <button type="button" class="close" data-dismiss="modal"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tile-body" id="tile-body">
                    <div class="form-group row">
                        <label class="col-md-3">
                            Ảnh sản phẩm:
                        </label>
                        <div class="col-md-9">
                            <input type="file" accept="image/png, image/jpeg" id="tenAnh" name="fUpload" class="form-control"/>
                            <input type="hidden" id="hAnhSanPhamId" name="hAnhSanPhamId">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3">
                            Mã sản phẩm:
                        </label>
                        <div class="col-md-9">
                            <select id="maSanPham" name="maSanPham">
                                <th:block th:each="sp : ${lstSanPham}">
                                    <option th:value="${sp.maSanPham}">[[${sp.tenSanPham}]]</option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" onclick="themMoiHoacCapNhat()"
                        class="btn btn-danger  d-none d-md-block pull-right ms-3 hidden-xs hidden-sm waves-effect waves-light text-white">Cập nhật</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</form>

<fieldset id="modalXoa"  class="modal fade">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Thông báo xoá</h5>
                <button type="button" class="close" data-dismiss="modal"  aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tile-body" id="title-delete">

                    <h3>Bạn có chắc chắn muốn xoá thông tin này không ?  </h3>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" onclick="thucHienXoa()" class="btn btn-primary">Đồng ý</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</fieldset>
</body>
</html>